* {
    box-sizing: border-box;
}

:root {
    --primary-color: #164444;
    --primary-color-black: #152427;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ------------------------ Common -------------------------- */

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    padding: 0 0;
    margin: 0 0;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    width: 173px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    color: #fff;
    background: var(--primary-color);
}

.btn:hover {
    box-shadow: 12px 12px 28px rgba(0, 0, 0, 0.3);
}

.section-title {
    position: relative;
    color: var(--primary-color-black);
    padding-left: 46px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6; /* 162.5% */
}

.section-title::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    flex-shrink: 0;
    background: var(--primary-color-black);
    top: 10px;
    left: 0;
}

.section-heading {
    position: relative;
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
    width: 520px;
    height: 104px;
    flex-shrink: 0;
}

.section-heading::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    flex-shrink: 0;
    background-color: var(--primary-color-black);
    top: 75%;
    right: 110px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ------------------------ Header -------------------------- */

.header {
    font-family: "Public Sans", sans-serif;
    min-height: auto;
    background-color: #fff;
    padding: 28px 0 13px;
    z-index: 10;
}

.header__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 0 0 13px;
}

.header__row::after {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    left: 0;
    width: 1140px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
}

.header__nav {
    display: flex;
    column-gap: 88px;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item {
    margin-left: 80px;
}

.header__link {
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.header__link-active {
    position: relative;
    text-shadow: 1px 0 0 currentColor;
    color: var(--primary-color-black);
}

.header__link-active::after {
    position: absolute;
    display: inline-block;
    bottom: -30px;
    left: 0;
    content: "";
    width: 16px;
    height: 2px;
    flex-shrink: 0;
    background-color: var(--primary-color-black);
}

.header__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: var(--primary-color-black);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

/* ------------------------ Hero -------------------------- */

.hero {
    padding: 60px 0 88px;
    background-color: #fff;
}

.hero__row {
    position: relative;
    display: flex;
    column-gap: 76px;
    align-items: center;
}

/* Hero content */

.hero__content {
    width: 400px;
    height: auto;
}

.hero__heading {
    margin-bottom: 20px;
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.hero__desc {
    margin-bottom: 42px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.hero__perform {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.watch-video {
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.watch-video:hover {
    cursor: pointer;
}

.ellipse {
    color: var(--primary-color-black);
}

.icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    left: 10px;
    border-radius: 50%;
    color: #fff;
    background-color: #83a17d;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

.hero__link {
    margin-left: 30px;
    color: #152427;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.hero_link {
    cursor: pointer;
}

.hero__outstanding {
    flex: 1;
}

/* Hero block */

.hero__block {
    position: relative;
    width: 770px;
    height: auto;
}

.hero__image {
    position: relative;
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.hero__item {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
    z-index: 2;
}

.hero__item:nth-of-type(2) {
    margin-top: 77px;
}

.hero__image::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 340px;
    height: 340px;
    top: 30%;
    left: 27%;
    flex-shrink: 0;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: 1;
}

.hero__pattern {
    position: absolute;
    top: -30px;
    left: -130px;
    z-index: 2;
}

.hero__pattern-items {
    position: relative;
}

.hero__pattern-icon {
    position: absolute;
    top: 0;
}

.hero__pattern-icon.icon-1 {
    left: -46px;
}

.hero__pattern-bottom {
    transform: rotate(175.95deg);
    bottom: -70px;
    right: 120px;
}

/* ------------------------ Brand -------------------------- */

.brand {
    margin-top: 44px;
}

.brand__row {
    display: flex;
    padding: 0 122px;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 201px;
    flex-shrink: 0;
    background-color: #e2eddf;
    border-radius: 100.5px;
}

.brand__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 80px;
}

.brand__icon {
    text-align: center;
    padding: 0;
}

/* ------------------------ Services -------------------------- */

.services {
    margin-top: 106px;
}

.services__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__heading {
    margin-top: 12px;
}

.services__content-right {
    display: flex;
    column-gap: 17px;
}

.section-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #e2eddf;
    transition: 0.25s;
}

.section-circle:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.section-circle:hover .section-arrow {
    color: #fff;
}

.section-arrow {
    color: var(--primary-color-black);
}

.section-arrow__right {
    rotate: 180deg;
}

/* Services List */

.services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.services__item {
    width: 370px;
    border-radius: 20px;
    padding-bottom: 23px;
    transition: 0.25s;
}

.services__item:hover {
    cursor: pointer;
    box-shadow: 0 16px 18px rgba(0, 0, 0, 0.3);
    transform: translateY(-16px);
}

.services__item:hover .services__item-heading {
    margin-left: 18px;
}

.services__item:hover .services__item-desc {
    margin-left: 18px;
}

.services__img {
    width: 370px;
    height: 318px;
    object-fit: cover;
    object-position: 10% 10%;
    border-radius: 20px 20px 0 0;
}

.services__item-heading {
    color: var(--primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin: 24px 0 18px;
}

.services__item-desc {
    width: 268px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7; /* 171.429% */
}

/* ------------------------ About -------------------------- */

.about {
    position: relative;
    margin-top: 172px;
}

.about__row {
    display: flex;
    column-gap: 64px;
}

/*------ Intro ------*/

.about__intro {
    position: relative;
    display: flex;
    column-gap: 21px;
}

.about__frame {
    border-radius: 210px;
}

.about__item {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__frame-bottom {
    margin-top: 90px;
}

/* Cover */

.about__cover {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 143px;
    height: 150px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    padding: 19px 17px 10px;
}

.about__item-heading {
    color: var(--primary-color-black);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__item-title {
    margin: 6px 0 10px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4; /* 140% */
    opacity: 0.4000000059604645;
}

.about__item-measure {
    margin: 3px 0 3px;
    position: relative;
    width: 98px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #eaeaea;
}

.about__item-measure::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 40px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #83a17d;
}

.about__item-tick {
    margin: 3px 0 5px;
    position: relative;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #ccc;
}

.about__item-tick::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color-black);
    top: 3px;
    left: 3px;
}

.about-list__title,
.about__item-loading,
.about__item-percent {
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about__item-loading {
    margin-left: 50%;
}

.about__item-list {
    display: flex;
    column-gap: 20px;
}

.about__list-avatar {
    display: flex;
    margin-bottom: 12px;
}

.about__list-icon {
    margin-left: -5px;
}

.about__item-img {
    display: inline-block;
    width: 16px;
    height: 16px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #fff;
}

/* Pattern */

.about__pattern {
    position: absolute;
    top: -38px;
    left: 100px;
}

.about__pattern-items {
    position: relative;
    rotate: 8deg;
}

.about__pattern-icon {
    position: absolute;
}

.about__icon-1 {
    left: -44px;
    top: 5px;
    z-index: 2;
}

/*------ Content ------*/

.about__heading {
    margin: 20px 0 12px;
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.about__content-desc {
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.about__ratio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 0 20px;
    border-bottom: 1px solid #83a17d;
}

.about__ratio-heading {
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
    margin-right: 24px;
}

.about__ratio-desc {
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* ------------------------ Process -------------------------- */

.process {
    margin-top: 79px;
}

.process__title {
    margin: 36px 0 20px;
}

.process__heading {
    width: 50%;
    margin-bottom: 81px;
}

.process__list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    height: 185px;
    border-bottom: 1px solid #83a17d;
    border-radius: 33px;
    flex-shrink: 0;
    background: #fff;
    transition: 0.25s;
}

.process__list:hover {
    background: #e2eddf;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3);
}

.process__list:hover .process-more {
    display: inline-block;
}

.process__intro {
    display: flex;
    align-items: center;
}

.process__order {
    min-width: 110px;
    color: #143c3c;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72; /* 72.222% */
    margin-left: 30px;
    margin-right: 64px;
}

.process-title__heading {
    display: block;
    color: var(--primary-color-black, #152427);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.process-more {
    position: absolute;
    display: none;
    bottom: 38px;
    left: 205px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    flex-shrink: 0;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: underline;
}

.process__image {
    position: absolute;
    width: 450px;
    height: 444px;
    bottom: 0;
    right: 92px;
}

.process__list-desc {
    width: 572px;
    color: #7d8188;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5; /* 155.556% */
    margin-right: 41px;
}

/* ------------------------ Video -------------------------- */

.video {
    display: block;
    height: 900px;
    margin-top: 148px;
    background-color: var(--primary-color-black);
}

.video__content {
    display: flex;
    align-items: center;
    column-gap: 93px;
    padding: 116px 0 72px;
}

.video__heading {
    position: relative;
    color: #fff;
}

.video__heading::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    flex-shrink: 0;
    background-color: #fff;
    top: 75%;
    right: 150px;
}

.video__content-desc {
    color: #6a8383;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
    margin-bottom: 13px;
}

.video__content-link {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.video__content-link:hover {
    text-decoration: underline;
}

.video__vid {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video-link {
    width: 1140px;
    height: 544px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 22px;
}

.video-icon__play {
    position: absolute;
}

.video-icon__play:hover {
    cursor: pointer;
}

/* vid-pattern */

.video__pattern {
    position: absolute;
    top: -164px;
    right: -22px;
}

.video__icon-1 {
    position: absolute;
    top: 80px;
    right: 0;
}

/* ------------------------ Feature -------------------------- */

.feature {
    margin-top: 140px;
}

.feature__content {
    text-align: center;
}

.feature__heading {
    width: 520px;
    margin: auto;
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.feature__desc {
    display: inline-block;
    margin-top: 20px;
    width: 547px;
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.feature__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
    margin-top: 103px;
}

.feature__item {
    width: 350px;
    height: 362px;
    flex-shrink: 0;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    text-align: center;
    transition: 0.25s;
}

.feature__item:hover {
    border: none;
    box-shadow: 0 12px 16px 12px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
}

.feature__item:hover .feature__item-icon {
    width: 50px;
    height: 51px;
}

.feature__item-icon {
    width: 39px;
    height: 35px;
    margin: 80px 0 26px;
}

.feature__item-heading {
    margin-bottom: 12px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.feature__item-desc {
    margin: auto;
    color: #7d8188;
    text-align: center;
    width: 200px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7; /* 171.429% */
}

/* ------------------------ Resources -------------------------- */

.resources {
    margin-top: 184px;
}

.resources__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 212px;
    margin-top: 10px;
}

.section__heading {
    position: relative;
    width: 520px;
    flex-shrink: 0;
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.section__heading::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 82px;
    height: 3px;
    right: -54px;
    bottom: 22px;
    background-color: var(--primary-color-black);
}

.resources__desc {
    width: 409px;
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6; /* 162.5% */
}

.resources__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 90px;
}

.resources__item {
    width: 360px;
    border-radius: 40px 40px 20px 20px;
    flex-shrink: 0;
}

.resources__item:hover {
    box-shadow: 0 12px 14px 12px rgba(0, 0, 0, 0.2);
}

.resources__item:hover .resources__btn {
    background-color: #143c3c;
    color: #fff;
}

.resources__item:hover .resources__line {
    width: 300px;
}

.resources__item:hover .resources__item-body {
    padding-left: 30px;
    padding-right: 30px;
}

.resources__image {
    width: 360px;
    height: 317px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
}

.resources__item-body {
    padding: 26px 0 12px;
}

.resources__btn {
    display: inline-block;
    margin: 0 0 13px;
    width: 107px;
    height: 26px;
    border-radius: 20px;
    background-color: #e2eddf;
    cursor: pointer;
}

.resources__item-title {
    color: #143c3c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.resources__line {
    margin: 36px 0 16px;
    width: 337px;
    height: 1px;
    flex-shrink: 0;
    background: #c4c4c4;
}

.resources__times {
    display: inline-block;
    margin-left: 65%;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
}

/* ------------------------ Footer -------------------------- */

.footer {
    margin-top: 102px;
    padding: 72px 0 30px;
    background-color: var(--primary-color);
}

.footer__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 160px;
}

.footer__heading {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
}

.footer-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 47px;
    width: 354px;
    height: 59px;
    flex-shrink: 0;
    border-bottom: 1px solid #6a8383;
}

.footer-email {
    background-color: transparent;
    width: 300px;
    height: 35px;
    border: none;
    color: #fff;
    outline: none;
    padding: 0 10px;
}

.footer-submit {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    color: #c4c4c4;
    background-color: transparent;
}

.footer__social-list {
    display: flex;
    column-gap: 22px;
}

.footer__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.footer__social-item:hover {
    background-color: #a75325;
}

.footer__social-icon {
    color: #fff;
    width: 15px;
    height: 15px;
}

/* ----- Info ----- */

.footer__info {
    display: flex;
    column-gap: 50px;
    margin-top: 20px;
}

.footer__info-heading {
    margin-bottom: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.footer__info-link {
    color: #6a8383;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2; /* 225% */
}

.footer__copy-right {
    margin-top: 16px;
    text-align: center;
}

.footer__copyright-text {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2; /* 225% */
}

.footer__line {
    margin-top: 45px;
    width: 1140px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(
        14deg,
        #143c3c 0%,
        #295a5a 53.48%,
        rgba(38, 82, 82, 0) 100%
    );
}
